<ion-nav-bar class="bar-positive">
  <ion-nav-title>动态</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-clear" ui-sref="tab.personHome">
      <!--<a ui-sref="tab.account.setting(userId)"><i class="ion-ios-gear"></i></a>-->
      <i class="ion-arrow-left-a"></i>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view view-title="zone" hide-tabs>
  <ion-content class="has-header">
	<div class="padding" style="margin-bottom:-50px;">
		<div class="list card">
			<div class="activityheader">
				<div style="positon:relative;">
			
				<div class="sharegroup animated bounceInRight hide">
					<a ng-click="shareQQ()"><img style="width:20px;height:30px" src="img/circular-QQ.png"/></a>
					<a ng-click="shareWeChat()"><img style="width:20px;height:30px" src="img/default-WeChat.png"/></a>
					<a ng-click="shareWeibo()"><img style="width:20px;height:30px" src="img/default-Weibo.png"/></a>
				</div>

				<a class="shareButton" ng-click="showOptions()"><i class="ion-android-share-alt"></i></a>
				</div>
				<img src="img/p6.jpg"/>
				<h4>David</h4>
				<div class="timetext">2017.03.01</div>
			</div>
			<div class="item item-body">
				<img class="full-image" src="img/img_small_1.jpg" ng-click="showImage()"/>
				<p>如果多年后，我们还会遇见，那么笑着拥抱吧，我的朋友。</p>
				<a ng-click="dianzan()" class="subdued"><i id="zan" class="ion-ios-star"></i></a>5 liked<span>&nbsp&nbsp&nbsp|&nbsp&nbsp</span>
				<a ng-click="pinglun()" class="subdued"><i class="ion-android-textsms"></i></a> 10 comments
			</div>
		</div>
	</div>
	<div class="padding">
		<div style="width:60px;height:20px;background-color:#ff5151;color:white;margin-bottom:10px;text-align:center;">热门跟帖</div>
		<div ng-repeat="comment in comments" class="addcommentParent" style="border-bottom:1px solid #e5e5e5;margin-top:10px;position:relative;padding-bottom:10px;">
		<div style="position:absolute;right:0px;">[<a ng-click="replyComment()" style="font-size:0.5em">回复</a>]</div>
		<div style="overflow:hidden;">
			<div><a><img src="img/p15.jpg" style="width:30px;height:30px;border-radius:20px;float:left"></img></a></div>
			<div style="float:left;margin-top:-10px;margin-left:5px;"><a><h5 style="margin-bottom:0;font-size:0.5em;color:#479aff">火星网友</h5></a><p style="font-size:0.2em;color:#a3a3a3;">1小时前</p></div>
		</div>
		<div style="padding-left:30px;margin-top:-5px;margin-bottom:5px;">每年这一天，中国、日本、韩国等地的歌迷都会前往香港缅怀张国荣。</div>
		<div class="addcomment" style="overflow:hidden;margin-left:30px;" ng-repeat="subcomment in subcomments">
			<div><a><img src="img/p16.jpg" style="width:20px;height:20px;border-radius:10px;float:left"></img></a></div>
			<div style="margin-left:25px;border-top:1px solid #e5e5e5;"><p style="font-color:#727272;font-size:0.3em;">香港评选过“四大绝色”，有林青霞、李嘉欣、关之琳，直接颁给了张国荣，足见其外形的惊艳。</p></div>
		</div>
		</div>
		<div style="margin-top:10px;color:#a3a3a3;text-align:center;" ng-if="showtip">对不起，暂时没有评论。</div>
	</div>
  </ion-content>
</ion-view>
<ion-footer-bar ng-if="showActivityComment" class="bar bar-footer" style="width:100%;vertical-align:middle;background-color:#e2e2e2;border-top:2px solid #b2b2b0">
		<input id="activityCommentInput" type="search" style="width:80%;height:30px;padding-left:10px;padding-right:10px;float:left;vertical-align:middle" placeholder="写评论"/>
		<div style="margin-left:10px;line-height:30px;position:relative">
		<a ng-click="sendcomment()" style="width:20%;text-align:center;line-height:30px;height:30px"><p style="color:blue;font-weight:bold">发送</p></a>
		</div>
</ion-footer-bar>
<script id="image-activity-modal.html" type="text/ng-template">
              <div class="modal image-modal modaltransparent" ng-click="closeModal()">
                  <ion-pane class="transparent" >
                     <img ng-src="{{imageSrc}}" on-hold="showSave()" class="fullscreen-image" style="opacity:1.0"/>
                  </ion-pane>
              </div>
			   <style>
			   .modaltransparent{
					background:transparent;
			   }
				.transparent {
					background:rgba(0,0,0,0.5);
				}
				.image-modal {
				  width: 100% !important;
				  height: 100%;
				  top: 0 !important;
				  left: 0 !important;
				}
				.fullscreen-image {
				  max-width: 100%;
				  max-height: 100%;
				  bottom: 0;
				  left: 0;
				  margin: auto;
				  overflow: auto;
				  position: fixed;
				  right: 0;
				  top: 0;
				}
		</style>
          </script>
		  
		  <style>
			.alreadyGood{
				color:red;
			}
		  </style>
		  
		  
		  
<style>
	.hide{
		display:none;
	}
	.sharegroup a img{
		margin:0 0;
	}
	.sharegroup a{
		float:left;
		margin-right:10px;
	}
	.sharegroup{
		position:absolute;
		right:20px;
		top:10px;
		overflow:auto;
	}
	#personTag{
		width:100%;
		margin:0 auto;
	}
	.tag div{
		display:inline-block;
		color:#c0c0c0;
	}
	.tag{
		border:1px solid #444444;
		width:50px;
		height:20px;
		display:inline-block;
		margin-bottom:10px;
		margin-left:20px;
		margin-right:20px;
		border-radius:10px;
		text-align:center;
	}	
	#personTag{
		border:2px dashed #529df9;
		padding-left:20px;
		padding-bottom:10px;
		vertical-align:middle;
	}
	#mytag{
		margin-top:10px;
		margin-bottom:10px;
		color:#c0c0c0;
	}
	#personInfomation{
		height:100px;
		vertical-align:middle;
		border:2px dashed #529df9;
		padding-left:20px;
		padding-bottom:20px;
		margin-bottom:10px;
	}
	#myinfomation{
		margin-top:10px;
		margin-bottom:10px;
		color:#c0c0c0;
	}
	.personspan1{
		display:inline-block;
		color:#c0c0c0;
	}
	.personspan{
		width:100px;
		display:inline-block;
	}
</style>
<style>
	#touxiang,#name,#title{
		text-align:center;
		margin-bottom:10px;
	}
	#tag{
		text-align:center;
	}
	#touxiang img{
		width:60px;
		height:60px;
		border-radius:30px;
	}
	#tag div{
		float:left;
		margin-right:20px;
		background-color:#444444;
		border-radius:10px;
		padding-left:5px;
		padding-right:5px;
	}
	#tag{
		overflow:auto;
		width:310px;
		margin:0 auto;
		color:white;
		text-align:center;
	}
	#tag i{
		margin-right:5px;
	}
	#personHomeTop{
		background-color:#c9c9c9;
		padding-top:10px;
		padding-bottom:10px;
	}
	#title{color:black;}
	#albumId div img{
		float:left;
		margin-right:5px;
	}
	#albumId{
		overflow:auto;
	}
	#albumId{
		width:100%;
		margin:0 auto;
	}
	.shareButton{
		float:right;
		right:10px;
		top:20px;
		position:absolute;
	}
	.activityheader img{
		width:50px;
		height:50px;
		float:left;
		margin-left:20px;
		margin-right:10px;
		border-radius:50px;
	}
	.activityheader .timetext{
		color:#c0c0c0;
	}
	.activityheader h4{
		display:inline-block;
		margin-top:10px;
	}
</style>