<ion-nav-bar class="bar-positive">
  <ion-nav-title>Account</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="gotoAccountSetting()">
      <!--<a ui-sref="tab.account.setting(userId)"><i class="ion-ios-gear"></i></a>-->
      <i class="ion-ios-gear"></i>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-view  hide-nav-bar="false" view-title="Account">
  <ion-content class="has-header">
   <!-- <div id="zone">
      <div id="zoneimage" class="padding">
        <img src="img/p3.jpg" alt=""/>
      </div>
      <div id="zonetext" class="padding">
         <h3>{{user.username}}</h3>
        <p>{{user.usertitle}}</p>
      </div>
    &lt;!&ndash;  <a class="pull-right">
        <i class="icon-arrow-right-c"></i>
      </a>&ndash;&gt;
    </div>-->
    <div class="list">
      <a ng-click="gotoMyHome()" class="item item-avatar">
        <img src="img/p3.jpg"/>
        <h2>{{user.username}}</h2>
        <p>{{user.usertitle}}</p>
      </a>
    </div>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        访问记录
        <i class="badge badge-assertive">0</i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="bindPhone()">
        <i class="icon ion-ios-telephone"></i>
        绑定手机
          <span id="bindPhoneFlagId" class="item-note">
             {{bindPhoneFlag}}
           </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-help"></i>
        帮助中心
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        意见反馈
      </a>

    </div>
    <button class="button button-full button-assertive">
      退出登录
    </button>
  </ion-content>
</ion-view>
<style>
  .bindsuccess{
	color:#00b907;!important
  }
  #zonetext{
    float:left;
    margin-left:10px;
  }
  #zoneimage{
    float:left;
    vertical-align: middle;
  }
  #zoneimage img{
    width: 60px;
    height:60px;
    vertical-align: middle;
  }
  #zone{
    overflow:hidden;
    border-top:1px solid #bbbbbb;
    border-bottom:1px solid #bbbbbb;
  }
  #zoneJoin{
    float:right;
    width:30px;
    height: 100%;
  }
</style>
