<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hidetabs}}" >

  <!-- Dashboard Tab -->
  <ion-tab title="交友" icon-off="ion-android-people" icon-on="ion-android-people" href="#/tab/makefriends">
    <ion-nav-view name="tab-makefriends"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="消息" icon-off="ion-chatbubbles" icon-on="ion-chatbubbles" href="#/tab/messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>
  
  <!-- Chats Tab -->
  <ion-tab title="新闻" icon-off="ion-android-globe" icon-on="ion-android-globe" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的账户" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
